/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#84B1D9;
}

#content {
   
}

header, footer, .main-area {
    padding:5px;
    margin:10px 0px;
    background:white;
    border-radius: 5px;
}

aside {
    background:#F2D5C4;
    padding:5px;
    border-radius: 5px;
}

.pic-area {
    background:#163359;
    padding:5px;
    border-radius:5px;
    margin:10px auto;
    color:white;
}

/* Turn the image into a block level element so we can center it */
.pic-area img {
    display:block;
    margin:auto;
}

/* Gallery */
#gallery section {
    background-color: #D9A38F;
    color:white;
    border-radius: 5px;
    padding:5px;
}

/* Images */
img {
    max-width:100%;
}


/* Navigation */


/* Typography */
h1, h2 {
    text-align: center;
}



/* Media Queries */
/* Portrait Tablet */
@media screen and (min-width: 600px) {
    
}

/* Landscape Tablet */
@media screen and (min-width: 768px) {
    header, footer, .main-area {
        width:85%;
        margin:10px auto;
    }

    /* Columns */
    .columns {
        display:flex;
    }

    .pic-area {
        margin:0 10px 10px;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

}

/* Labtop / Desktop */
@media screen and (min-width: 992px) {
    header, footer, .main-area {
        width:70%;
    }
}

/* Extra Large Devices */
@media screen and (min-width: 1600px) {
    
}