/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

/* Header */
#main-header {
    background-color: bisque;
    position: relative;
    padding-top:3%;
}

#logo {
    position:absolute;
    left:1em;
    top:1em;
}

/* Hero */
#hero {
    position:relative; 
}

#hero-description {
    position:absolute;
    top:60%;
    left:5%;
    background:rgba(255,255,255,0.8);
    padding:20px;
    font-size:1.5em;
}

.hero-arrow {
    position:absolute;
    top:22%;
    font-size:12em;
    color:white;
    text-decoration: none;
}

#hero-arrow-right {
    right:2%;
}

#hero-arrow-left {
    left:2%;
}

/* Sidebar */
#sidebar, #info {
    padding:5px;
}

#sidebar {
    background-color: aliceblue;
}

#info {
    background-color: aquamarine;
}

/*Footer links */
#footer-links header {
    position:relative;
}

#footer-social {
    list-style-type: none;
    width:fit-content;
    margin:auto;
}

#footer-social li {
    display:inline-block;
}

#footer-social a {
    list-style-type: none; 
}

#footer-links-title {
    width:fit-content;
    margin:auto;
    align-items: baseline;
}

#footer-links-title h1, #footer-links h2 {
    margin:0;
    padding-left:10px;
    margin-top:-50px;
}

#footer-links {
    background:maroon;
    color:white;
}

#footer-links a {
    color:white;
}

#footer-links h3 {
    text-transform: uppercase   ;
}

#footer-links .columns section {
    padding:10px;   
}

#footer-links section ul {
  column-width: 200px;
  column-gap: 10px; 
  padding-left: 0;
  list-style-type: none;
}

#footer-links a {
    text-decoration: none;
}

/*Footer Copy */
#footer-copy {
    background:black;
    color:white;
}

#footer-copy a {
    color:white;
}

/* Navigation */
#main-nav ul, #quick-links, #login-nav ul {
    list-style-type: none;
    padding-left:0;
}

#main-nav li {
    background-color: darkslateblue;
    padding:20px 5px;
    border-bottom: 1px solid white;
}

#main-nav a, #login-nav a {
    color:white;
    text-decoration: none;  /* Remover underline */
}

/* login nav */
#login-nav {
    position:absolute;
    top:1%;
    right:1%;
}

#login-nav a {
    color:#c06c84;
    font-size:1.5em;
}

#login-nav li {
    display:inline-block;
}

#login-nav li:not(:last-child):not(:first-child)::after {
  content: " | ";
  color:#c06c84;
}

/* images */
img {
    max-width:100%;
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:15px;
}

/* columns for all devices */
.columns-mobile {
    display:flex;
}

/* Responsive Design */

/* 600 px or larger */
@media (min-width: 1000px) {
    #footer-links-title {
        margin:0;
    }

    #footer-social {
        position:absolute;
        top:5px;
        right:5px;
    }

    #content {
        width:80%;
        margin:auto;
    }

    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        border:0;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }

    .five {
        flex:5;
    }

    .six {
        flex:6;
    }
}