/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

#content {
    width:80%;
    margin:auto;
}

#main-header {
    background-color: bisque;
}

#sidebar, #info {
    padding:5px;
}

#sidebar {
    background-color: aliceblue;
}

#info {
    background-color: aquamarine;
}

/* Navigation */
#main-nav ul, #quick-links {
    list-style-type: none;
    padding-left:0;
}

#main-nav li {
    background-color: darkslateblue;
    padding:5px;
    border-bottom: 1px solid white;
}

#main-nav a {
    color:white;
    text-decoration: none;  /* Remover underline */
}


/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:15px;
}

/* Responsive Design */

/* 600 px or larger */
@media (min-width: 1000px) {
    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        border:0;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }

    .five {
        flex:5;
    }

    .six {
        flex:6;
    }
}