/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

#content {
    width:80%;
    margin:auto;
}

/* Navigation */

/* Typography */

/* Responsive Design */