/* Structure */
body {
    background:#513416;
    font-family:Arial, Helvetica, sans-serif;
}

#content {
    background:#EFDAC3;
    padding:5px;
    margin:20px auto;
    width:70%;
    border-radius:10px;
}

/* Navigation */
#main-nav ul {
    padding-left:0; /* removes the left padding */
}

#main-nav li {
    list-style-type: none;  /* no bullets */
    display:inline-block;   /* appear on one line */
}

#main-nav a { 
    text-decoration: none;  /* no underline */
    background:#FF8DA1;
    color:white;
    padding:5px;
    margin:5px;
    border-radius:2px;
}

#main-nav a:hover {
    background:black;
    color:#FF8DA1;
}


/* Typography */
h1 {
    color:#4B6758;
}

p {
    color:#281A0B;
}