/* Structure */
:root {
    --main-background:#84B1D9;
    --secondary-color:navy;
    --front-color:white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--main-background);
}

header, .main-area, footer , #slideshow {
    padding:5px;
    margin:10px 0px;
    background:var(--front-color);
    border-radius: 5px;
}

.main-area section {
    background:var(--secondary-color);
    color:var(--front-color);
    margin:10px;
    border-radius: 5px;
    padding:5px;
}

/* Images */
img {
    max-width:100%;
}

/* Navigation */
#main-nav ul {
    padding-left:0;
    list-style-type: none;
}

#main-nav li {
    margin-right:10px;
}

#main-nav a {
    display:block;
    text-decoration: none;
    padding:5px;
    background-color:var(--secondary-color);
    color:white;
    border-bottom:1px solid var(--front-color);
}

#toggle-nav div {
    width:25px;
    height:2px;
    background:var(--secondary-color);
    margin:6px 0;
}

.image-bold {
    border:3px solid pink;
}

#circle {
    width:50px;
    height:50px;
    border-radius: 25px;
    background:var(--front-color);
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
}

.highlight {
    background:purple;
    color:white;
}

@keyframes bounce {
    0% {
        top:0px;
        background:navy;
    }
    50% {
        top:-200px;
        background:green;
    }
    100% {
        top:0px;
        background:red;
    }
}

/* Slideshow */
#slideshow {
    position:relative;
}

.arrow {
    position:absolute;
    display:block;
    top:30%;
    color:black;
    text-decoration: none;
    font-size:5em;
    background:rgba(255,255,255,.5);
    padding:0 5px;
}

#left-arrow {
    left:10px;
}

#right-arrow {
    right:10px;
}

#thumbnails div{
 margin:10px;
}

/* Dialog */
#modal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(128,128,128,0.9);
}

#dialog {
    position:absolute;
    top:30%;
    width:fit-content;
    margin-inline: auto; /* centering */
    left: 0;             /* centering */
    right: 0;            /* centering */
    background-color:black;
    color:white;
    padding:10px 40px;
    border-radius: 5px;
}

#close {
    position:absolute;
    top:10px;
    right:15px;
}

#close:hover {
    cursor:pointer; 
}

/* Classes */
#dog-house section {
    display:flex;
    background:gray;
    padding:10px;
    width:100%;
}

#dog-house section div {
    margin:10px;
}

/* Typography */
h1, h2 {
    text-align: center;
}

/* Hide and Show */
.hidden {
    display:none;
}

.hide-small {
    display:none;
}

/* JSON */
.two-columns {
    background-color:aliceblue;
    margin:10px;
    padding:5px;
    border-radius:5px;
}

.two-columns h3 {
    text-align: center;
}

#shoes section {
    width:90%;
    margin:10px auto;
    padding:5px;
}

#shoes h3, #shoes ul, #shoes p {
    color:white;
}

#breweries {
    flex-wrap: wrap;
}

#breweries section {
    width:40%;
    margin:10px auto;
    padding:5px;
    background-color:burlywood;
}

#breweries iframe {
    max-width:90%;
    display:block;
    margin:auto;
}


/* Media Queries */
/* Portrait Tablet */
@media screen and (min-width: 600px) {
    .hide-small {
        display:flex;
    }

    #toggle-nav {
        display:none;
    }

    #main-nav ul {
        width:fit-content;
        margin:auto;
        display:flex;
    }
    
    #main-nav a {
        border-bottom:1px solid transparent;
        background-color:white;
        padding:2px;
        color:navy;
    }

    #main-nav a:hover {
        border-bottom:1px solid var(--secondary-color);
    }

    .main-area {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-area section {
        width:30%;
    }
}

/* Landscape Tablet */
@media screen and (min-width: 768px) {
    header, footer, .main-area, #slideshow {
        width:85%;
        margin:10px auto;
    }

    /* Columns */
    .columns {
        display:flex;
    }

    .pic-area {
        margin:0 10px 10px;
    }

    #gallery {
        flex-wrap:wrap;
        justify-content: space-around;
    }

    #gallery section {
        max-width:20%;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

}

/* Labtop / Desktop */
@media screen and (min-width: 992px) {
    header, footer, .main-area, #slideshow {
        width:70%;
    }
}

/* Extra Large Devices */
@media screen and (min-width: 1600px) {
    
}