:root {
    --primary-color:#4F5902;
    --secondary-color:#595924;
}

body {
    background:var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width:95%;
    margin:auto;
    background:rgba(255,255,255,0.7);
    border-radius:5px;
    padding:5px;
}

#main-header {
    background:var(--primary-color);
    color:white;
    border-radius:5px;
    padding:5px;
    position:relative;
}

#main-header img {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:75px;
    border-radius:50px;
}

#main-content section, #main-content aside {
    padding:5px;
}

.squirrel {
    background:var(--s);
    padding:5px;
    border-radius:5px;
    margin:5px;
}

/* Showcase */
#showcase {
    position:relative;
}

#showcase p {
    background:rgba(0,0,0, 0.7);
    color:white;
    padding:10px;
    width:fit-content;

    position:absolute;
    bottom:20%;
    left:5%;
}

/* Gallery */
#gallery {
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery section {
    text-align: center;
    width:25%;
}

#gallery img {
    padding:5px;
}

/* Images */
img {
    max-width:100%; 
}

/* Main Navigation */
nav ul {
    list-style-type: none;  /* remove the bullets */
    padding-left:0;
}

nav a {
    text-decoration: none;
}

#main-nav li {
    border-bottom:1px solid white;
}

#main-nav li:first-child {
    border-top:1px solid white;
}

#main-nav a {
    color:white;
    padding:10px 5px;
    display:block;
}

#main-nav a:hover {
    background:white;
    color:#4F5902;
}

#login-nav {
    position:absolute;
    top:2.5%;
    right:2.5%;
}

#login-nav a {
    color:white;
    padding:5px;
    display:block;
}

#login-nav li:hover {
    border-bottom:1px solid white;
}

/* Typography */
h1 {
    text-align: center;
}

.hide {
    display:none;
}

.hide-small {
    display:none;
}

/* Larger devices */
@media only screen and (min-width: 768px) {
    body {
        background: url(images/background.jpg);
        background-size:cover;
    }

    #content {
        width:70%;
    }

    /* Columns */
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    .five {
        flex:5;
    }

    /* Main Nav */
    #main-nav li {
        flex:1;
    }

    #main-nav li, #main-nav li:first-child {
        border:none;
    }

    #main-nav a {
        text-align: center;
        padding:5px;
    }

    #main-nav a:hover {
        background:#4F5902;
        color:white;
        border-bottom:1px solid white;
    }

    #login-nav a {
        display:inline;
    }

    #login-nav li:not(:last-child)::after {
        content:"|";
        display:inline;
    }

    .hide-small {
        display:block;
    }
}