/* Main Structure */
:root {
    --main-background:#bde0fe;
    --main-headers: purple;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background:var(--main-background);
}

#main-content {
    margin:auto;    /* Center */
}

#main-header {
    background:#00CED1;
    position:relative;
}

#sidebar {
    background:lightcoral;
}

#main-footer {

}

/* Header */
#logo {
    margin:10px;
}

#login-nav {
    position:absolute;
    right:5%;
    top:5%;
}

#login-nav li:not(:last-child)::after {
    content:"|";
}

/* Navigation */
#toggle-nav {
    padding:10px;
}
#toggle-nav div {
    width:25px;
    height:2px;
    background-color:darkslateblue;
    margin:6px 0;
}

/* Images */
img {
    max-width:100%;
}

/* Square */
.area {
    background:#cdb4db;
    position:relative;
}

.arrow {
    font-size:1.5em;
    color:white;
    position:absolute;
    top:32%;
}

#prev {
    left:5%;
}

#next {
    right:5%;
}

#slide-desc {
    position:absolute;
    bottom:5%;
    left:5%;
    background:rgba(255,255,255, 0.8);
    padding:5px;
    max-width:40%;
}

/* Gallery */
#gallery section {
    background:AliceBlue;
    padding:10px;
    border-radius:5px;
    margin:5px;

}

#gallery section h3 {
    text-align:center;
}

button {
    background:turquoise;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
    border:1px solid darkslategray;
    color:darkslategray;
}

/* Navigation */
nav ul {
    padding-left:0;     /* Remove indentation */
}

nav li {
    list-style-type:none;   /* Remove bullet */
    background:#ffc8dd;
    padding:5px;
    border-bottom:1px solid #cdb4db;;
}

nav a {
    text-decoration: none;  /* Remove underline */
    color:white;
}

/* Ball */
#ball-playground {
    position: relative;
}

#ball {
    width:25px;
    height:25px;
    background:magenta;
    border-radius:25px;
    position:absolute;
}

.bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

@keyframes bounce {
    0% {
        background: magenta;
        top:100px;
    }
    25% {
        background:orange;
    }
    50% {
        background: green;
        top:200px;
    }
    75% {
        background:red;
    }
    100% {
        background:pink;
        top:100px;
    }
}

/* Thermometer */
#thermometer {
    width:25%;
    height:200px;
    margin-right:10%;
    border:2px solid turquoise;
    background:linear-gradient(0deg, red 0% var(--donation-percent), white var(--donation-percent) 100%);
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:10px;
    color:white;
}

h3 {
    color:#05668d;
}

/* Hide */
.hide-small {
    display:none;
}

/* Larger devices */
@media (min-width: 768px) {
    #content {
        margin:auto;
    }

    .columns {
        display:flex;
        flex-wrap:wrap;
    }   
    
    #gallery {
        justify-content: flex-start;
        gap:1em;
    }

    #gallery section {
        width:22%;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    nav ul {
        display:flex;
    }

    nav li {
        background:transparent;
        flex:1;
        text-align: center;
    }

    nav a {
        border-bottom:1px solid transparent;
    }

    nav a:hover {
        border-bottom:1px solid white;
    }

    #toggle-nav {
        display:none;
    }

    .hide-small {
        display:flex;
    }
}