:root {
  --primary: coral;
  --secondary: cornflowerblue;
}

/* Structure */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}

/* Navigation */
#main-nav ul {
  padding-left: 0px;
  list-style-type: none;
}

#main-nav li {
  background: var(--secondary);
  padding: 10px;
  margin: 2px 0;
}

#main-nav a {
  text-decoration: none;
  color: blanchedalmond;
}

/* Hamburger Menu */
#nav-toggle div {
  width: 35px;
  height: 5px;
  background-color: var(--primary);
  margin: 6px 0;
}

/* form */
.form label,
.form label {
  display: block;
}

.form input,
.form button {
  width: 100%;
  font-size: 1.2em;
}

.form-element {
  margin: 5px;
}

.form .error {
  color: red;
}

/* Typography */
#main-nav-items {
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

/* Larger Resolutions */
@media (min-width: 900px) {
  #main-nav-items,
  .form-element {
    display: flex;
  }

  #main-nav-items li {
    flex: 1;
  }

  #main-nav-items a {
    border-bottom: 2px solid transparent;
  }

  #main-nav-items a:hover {
    border-bottom: 2px solid var(--primary);
  }

  #nav-toggle {
    display: none;
  }

  /* forms */
  .form label {
    width: 100px;
  }

  .form input {
    width: 200px;
  }

  .form button {
    width: 310px;
  }
}
