/* Page Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:url(images/background.jpg);
    background-size: cover;
}

#content {
    width:75%;
    margin:auto;    /* center */
    background:rgba(172, 209, 242, 0.8);
    padding:5px;
    border-radius:5px;
}

/* Tables */
table {
    border-collapse: collapse;
}

td, th {
    border:1px solid black;
    padding:5px;
}

th {
    background: #244673;
    color:white;
}

/*Typography */
h1 {
    color:#17557E;
    text-align: center;
}