/* Structure */
:root {
    --main-background-color:skyblue;
}

body {
    background-color:var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background:white;
}

.columns-all {
    display:flex;
}

img {
    max-width: 100%;
}
/* Header */
#main-header {
    position:relative;
}

#main-img {
    margin-right:5px;
}

/* gallery */
#gallery section {
    background:aliceblue;
    padding:10px;
    margin:10px;
}

/* Login Menu */
#login-menu {
    width:fit-content;
    position:absolute;
    top:3%;
    right:3%;
}

#login-menu ul {
    display:none;
    padding-left:0;
}

#login-menu li {
    list-style-type: none;
    padding:5px;
}

#login-menu a {
    text-decoration: none;
    color:blueviolet;
}

#login-menu a:hover {
    text-decoration: underline;
}


/* Larger Resolutions */
@media only screen and (min-width:600px) {
    #content {
        width:70%;
        margin:auto;
    }

    .columns {
        display:flex;
    }

    #settings {
        display:none;
    }

    #login-menu ul {
        display:flex;
    }

    .one {
        flex:1;
    }
}