* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Header */
#main-header {
    background:#000;
    color:#fff;
}

#main-header-top {
    padding: 0 40px;
}

#main-header a {
    color:#fff;
    text-decoration: none;
    display:flex;
}

#main-header img {
    margin-right:10px;
}

/* Nav */
#main-nav {
    background:#73000A;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav li {
    padding:10px;
    font-size:16px;
}

/* content area */
#main-content {
    padding:20px;
}

.col1to4of5 {
    flex-basis: 75%;
}

.col5of5 {
    flex-basis:20%;
}

.sc-article {
    margin: 20px 0;
}

.sc-article img {
    margin-right:20px;
}

/* Banner */
#banner {
    display:flex;
    justify-content: center;
}

/* Font Styles */
h2 {
    color:#73000A;
    font-size:35px;
}

@media (min-width:900px){
    #main-nav ul {
        display:flex;
        justify-content: space-evenly;
    }

    #main-content-junior {
        display:flex;
        justify-content:space-between;
    }

    .sc-article {
        display:flex;
        justify-content: space-between;
    }
}