:root {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #223240;
}

/* Structure */

#content {
  background: #fff;
  padding: 5px;
  width: 80%;
  /* center horizontally */
  margin: auto;
  border-radius: 5px;
  min-height: 500px;
  margin-top: 10px;
}

.items section {
  padding: 10px;
  background: #bbc8f2;
  margin: 10px;
  flex: 1;
}

#dialog section {
  padding: 10px;
  background: white;
  margin: 10px;
}

.gallery section img {
  display: block;
  margin: auto;
  max-width: 90%;
}

.gallery section h3 {
  text-align: center;
}

.gallery section.highlighted {
  background: #f2af88;
}

#slideshow {
  border: 4px solid #f27d52;
  text-align: center;
}

#slideshow img {
  text-align: center;
}
#forward-arrow {
  position: absolute;
  top: 18%;
  right: 25%;
  font-size: 3em;
}

#backward-arrow {
  position: absolute;
  top: 18%;
  left: 25%;
  font-size: 3em;
}

.hidden {
  display: none;
}

#result p {
  background: #223240;
  color: white;
  padding: 5px;
}

#toy-description {
  font-size: 1.5em;
}

/* Table */
#toy-table {
  background: white;
  border-collapse: collapse;
  margin: auto;
}

#toy-table th,
td {
  border: 1px solid #f2af88;
  padding: 5px;
}

th {
  background: #f2af88;
}

/* Typography */

h1 {
  color: #f27d52;
}

h3 {
  text-align: center;
}

p {
  color: #223240;
}

/* Larger Resolutions */

@media only screen and (min-width: 600px) {
  .columns {
    display: flex;
  }

  .gallery {
    flex-wrap: wrap;
  }

  .gallery section {
    flex: 22%;
  }

  .one {
    flex: 1;
  }
}
