:root {
    --primary-color: #F26F63;
    --secondary-color: #D98179;
    --background-color:#A6A6A6;
    --header-bg:#D9D9D9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

#content {
    background:white;
    width:80%;
    margin:auto;
}

#main-header, #main-footer {
    background-color:var(--header-bg);
    padding:5px;
}

#main-content {
    padding:5px;
}

#main-sidebar {
    background:LemonChiffon;
    padding:5px;
}

#information {
    background:lavender;
    padding:5px;
}

#information section {
    background:plum;
    margin:5px;
}

#main-footer {

}

/* Navigation */
#main-nav ul {
    padding-left:0;
    list-style-type: none;
}

#main-nav li {
    background:var(--secondary-color);
    padding:5px;
    margin-bottom:2px;
}

#main-nav li:hover {
    background:mistyrose;
}

#main-nav a {
    text-decoration: none;
    color:white;
    display:block;
}

/* Special */
.special {
    background:skyblue;
    color:magenta;
}

#item {
    width:100px;
    height:100px;
    border-radius: 50px;
    background:white;
}

/* Animations */
.rainbow {
    animation-name: colorAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes colorAnim {
    0% {
        background: red;
        top:0;
        left:0px;
    }
    15% {
        background:orange;
        top:20px;
        left:20px;
    }
    30% {
        background:yellow;
        top:40px;
        left:40px;
    }
    45% {
        background:green;
        top:50px;
        left:50px;
    }
    60% {
        background:blue;
        top:40px;
        left:60px;
    }
    75% {
        background:indigo;
        top:20px;
        left:80px;
    }
    90% {
        background:violet;
    }
}

/* Hide / Show */
.hidden {
    display:none;
}

/* Typography */
#information h3 {
    text-align: center;
}

h1 {
    color:var(--primary-color);
}

h2 {
    color:var(--secondary-color);
}

/* Media Query */
/* For larger devices e.g. labtops */
@media only screen and (min-width: 600px) {

    .columns {
        display:flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

    #main-nav li {
        flex:1;
    }

    #information section {
        flex:25%;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    img {
        max-width:95%;
    }

    #main-content section {
        flex:1;
    }
}