.fruit-col {
    background:skyblue;
    padding:10px;
    flex-basis:30%;
    margin:10px;
}

.col1of3 {
    background:lightcoral;
}

.col2of3 {
    background:lightgreen;
}

.col3of3 {
    background:lightsalmon;
}

.result-row {
    background:lightseagreen;
    padding:10px;
    margin:10px;
}

h1 {
    text-align:center;
}

@media (min-width:900px) {
    .threecols {
        display:flex;
        justify-content: space-between;
    }
}