* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color:black;
}

.header {
    background:hsl(288, 59%, 80%);
    text-align:center;
    padding:10px;
}

/*Navigation bar*/
.navbar ul {
    display:flex;
    justify-content: space-around;
    font-size:18px;
    list-style-type: none;
}

.navbar li {
    flex:auto;  
    background:#efd6f5;
    padding:10px;
    text-align:center;
}

.navbar li:hover {
    background:#e6c2ef;
}

.navbar li a {
    text-decoration:none;
}

.articles {
    padding:10px;
}

.article {
    background-color: #abc;
    padding: 20px;
    flex-basis:31%;
}

.article:nth-child(1){
    background:#E0FFFF;
}

.article:nth-child(2){
    background:	#FFE4E1;
}

.article:nth-child(3){
    background:#cefdce;
}

.main-section {
    padding:10px;
}

.main-content {
    padding:10px;
    flex:3;
    background:	#fffce6;
}

.sidebar {
    padding:10px;
    flex:1;
    background:#fffacd;
}

.sidebar li {
    list-style-type:none;
}

.sidebar a {
    text-decoration:none;
}

.images {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:10px;
}

.footer {
    background:#deaeea;
    padding:10px;
    text-align:center;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

#hamburger {
    display:none;
}

.hidden {
    display:none;
}

button {
    padding:5px;
}

input {
    padding:5px;
    background:lightpink;
}

p {
    margin: 10px;
}

.error {
    color:red;
}

@media (min-width: 900px) {
    .articles, .main-section {
        display:flex;
        justify-content:space-around;
    }
}

@media all and (max-width:500px){
    .navbar ul {
        flex-direction:column;
    }

    .navbar ul li {
        text-align:center;
    }

    #hamburger {
        display: block;
    }
}

#navitems.hidden {
    display:none;
}