:root {
  --bg-color: #f1f2e9;
  --primary-color: #5d878c;
  --secondary-color: #a4bfb8;
  --accent-bold: #d98282;
  --accent-subtle: #f2f0d5;
  --ball-top: 0;
}

* {box-sizing: border-box}

body {
  font-family: arial;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

main {
  text-align: center;
}

#list {
    text-align: left;
    width:fit-content;
    margin:auto;
}

select {
  border:1px solid var(--primary-color);
  color:#5d878c;
  padding:5px;
  font-size:1em;
}

#content {
  margin: auto;
  width: 95%;
}

footer {
  text-align: center;
  color:var(--accent-bold);
}

.container {
  padding: 5px;
  margin: 5px;
}

#images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#images article {
  margin-top: 10px;
  max-width: 30%;
}

#images article img {
  max-width: 50%;
}

#side-links {
  border: 1px solid var(--secondary-color);
  background: var(--accent-subtle);
  padding: 5px;
  padding-left: 20px;
}


#gallery p {
  color: var(--primary-color);
  text-align: center;
}

.gallery img {
  max-width: 80%;
}

/* Container needed to position the overlay. Adjust the width as needed */
#gallery section {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: -20px;
  background: rgba(217, 130, 130, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
#gallery section:hover .overlay {
  opacity: 1;
}

#playground {
  height: 400px;
  width: 100px;
  background: white;
  margin: auto;
  border: 1px solid var(--primary-color);
}

#ball {
  position: relative;
  top: calc(var(--ball-top) * 1px);
}

/* Toggle nav */
#toggle-nav:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#navitems {
  padding-left: 0;
}

#navitems li {
  list-style-type: none;
  margin-bottom: 5px;
}

#navitems a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Popup */
#popup {
  background:ivory;
  color:white;
  max-width:40%;
  margin-inline: auto; 
  left:0;
  right:0;
  padding:10px 0 20px;
  position:absolute;
  top:10%;
  box-shadow: 10px 10px 5px var(--accent-bold);
}

#popup h3 {
  color:var(--accent-bold);
  text-align: center;
}

#popup img {
  margin:auto;
  display:block;
  max-width:100%;
}

.w3-container {
  padding:0;
}

#close {
  color:var(--accent-bold);
  position:absolute;
  right:15px;
  cursor:pointer;
}

#modal-content {
  background:#D4E4F7;   
  color:#4663AC;  
  display:flex;
  text-align:left;
}

#modal #close {
  color:#4663AC;
  font-size:1.25em;
}

#video {
  display:block;
}

#modal-data {
  margin-left:20px;
}

/* Slider*/

.flip {
  transform: rotate(180deg);
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--accent-bold);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--accent-bold);
  cursor: pointer;
}
/* Naviation */

#main-nav ul {
  padding-left: 0;
}

#main-nav li {
  list-style-type: none;
  padding: 5px;
  background: var(--accent-bold);
  text-align: center;
  border: 1px solid var(--secondary-color);
}

#main-nav a {
  text-decoration: none;
  color: white;
}

#side-links ul {
  padding-left: 0;
}

#side-links li {
  list-style-type: none;
}

#side-links a {
  color: var(--accent-bold);
}

#canvas {
  margin: auto;
  display: block;
}

#boy {
  width: 50%;
}

/* Typography */
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: var(--accent-bold);
}

#modal-content p {
  font-size:1.2em;
}

#modal-content h3 {
  font-size:1.6em;
}

/* forms */
input {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  display: block;
  margin: auto;
}

#link-container {
  text-align: center;
}

a {
  color: var(--primary-color);
}

footer p {
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  #content {
    width: 80%;
  }
  .columns {
    display: flex;
  }

  #main-nav li {
    flex: 1;
  }

  .one-fifth {
    flex: 1;
  }

  .four-fifths {
    flex: 4;
  }

  .idea {
    margin-bottom: 10px;
  }

  .idea img {
    max-width: 100%;
  }

  .idea-description {
    padding-left: 10px;
  }

  .idea-description h3 {
    padding-top: 0;
  }

  .gallery {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #gallery section {
    max-width: 25%;
    margin:10px;
    border-radius:10px;
    background: 	#4663ac;
    color:white;
  }

  #gallery section h3 {
    margin-bottom:0px;
  }

  #gallery p:first-of-type {
    color:white;
    margin-top:6px;
  }

  #gallery section img {
    max-width:100%;
    border-radius: 0 0 10px 10px;
    display:block;
  }

  #gallery {
    display:flex;
    flex-wrap: wrap;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    text-align: center;
  }

  #toggle-nav {
    display: none;
  }

  #navitems.hidden {
    display: block;
  }

  #navitems {
    text-align: center;
  }

  #navitems li {
    display: inline;
  }

  #navitems li:not(:last-child)::after {
    content: " | ";
  }

  .flex1 {
    flex: 1;
  }
}
