body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}


/* Structure */

#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    /* center horizontally */
    margin: auto;
    border-radius: 5px;
}

#strawberry {
    max-width: 20%;
}

.hidden {
    display: none;
}


/* Typography */

h1 {
    color: darkslategray;
}

.special {
    background: lightpink;
    size: 2em;
    color: magenta;
    border: 2px dotted magenta;
}