/* Structure */
:root {
    --primary-color: #f29188;
    --secondary-color: #8c617d;
    --background-color:#f5b894;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background:url('images/background.jpg');
    background-size:100%;
}

#content {
    background:rgba(255,255,255,0.8);
    width:70%;
    margin:auto;    /*Centering */
    border-radius: 5px 50px 50px 0px;    /* Round corners */
    /*box-shadow: 10px 10px #daa96d;*/
}

#main-header, #main-footer {
    background:var(--background-color);
    padding:10px;
}

#main-content {
    padding:10px;
}

/* Navigation */
#main-nav ul {
    padding-left:0;
}

#main-nav li {
    list-style-type: none;
    display:inline-block;   /* made horizontal */
    background:var(--secondary-color);
    padding:5px;
    border-radius:2px;
}

#main-nav a {
    color:white;
    text-decoration: none;
}

#main-nav a:hover {
    color:var(--primary-color);
}

/* Tables */
#about-table {
    border-collapse: collapse;
}

#about-table th, #about-table td{
    border:1px solid var(--primary-color);
    padding:5px;
}

#about-table th {
    background-color:var(--secondary-color);
    color:white;
}

/* Images */
img {
    border:2px solid var(--primary-color);
}

/* Typography */
h1 {
    color:var(--primary-color); 
}

h2 {
    color:var(--secondary-color);
}

strong {
    background:var(--secondary-color);
    padding:5px;
    text-decoration-line: underline;
}

/* Larger Resolutions */