/* Structure */

:root {
    --primary: darkblue;
    --secondary: darkgreen;
    --tertiary: orange;
    --back: azure;
    --headback: bisque;
    --mainback: cadetblue;
    --footback: honeydew;
    --num: 15%;
}

body {
    background-color: var(--back);
}

#main-header {
    background-color: var(--headback);
}

#main-content {
    background-color: var(--mainback);
}

#main-footer {
    background-color: var(--footback);
}

.padded-area {
    padding: 5px;
    margin: auto;
}

.info {
    border: 2px solid blueviolet;
    background: lightblue;
}

.info header {
    background-color: blueviolet;
    margin: 0 auto;
}


/* Square and Gradients */

#square {
    width: 150px;
    height: 150px;
    background: #fff;
    margin: 5px;
}

#square.rainbow {
    background: linear-gradient( 90deg, red 15%, orange 15% 30%, yellow 30% 45%, blue 60%, indigo 75%, violet 100%);
    background: linear-gradient(180deg, pink var(--num), skyblue var(--num) 100%);
}


/* Main Navigation */

#main-nav ul {
    padding-left: 0px;
}

#main-nav li {
    list-style-type: none;
    background: lightpink;
    padding: 5px;
    border: 1px solid lightblue;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#main-nav li:hover {
    background-color: lightblue;
}


/* Form */

label,
input {
    display: block;
}

label {
    width: 100px;
    text-align: right;
    padding: 5px;
}

#result section {
    border: 1px solid pink;
    background: lightblue;
}

.error {
    color: red;
}


/* gallery */

.items section {
    margin: 1%;
    padding: 1%;
    background-color: bisque;
    text-align: center;
}

.items section.highlighted {
    opacity: 100%;
}


/* Dogs */

.dog {
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    color: white;
}


/* Tables */

#children-table {
    border-collapse: collapse;
}

#children-table th,
#children-table td {
    border: 1px solid darkgray;
    padding: 5px;
}

#children-table th {
    background-color: cornflowerblue;
    color: white;
}

#children-table tr:hover {
    background-color: lightpink;
}

#child-details {
    margin: 5px;
    border: 1px solid darkblue;
    background: cornflowerblue;
    border-radius: 5px;
    padding: 5px;
}

#child-details h3 {
    color: white;
    text-align: center;
}

#child-details img {
    max-width: 30%;
    display: block;
    margin: auto;
}


/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}


/*.hidden {
  display: none;
}*/


/* Slideshow */

#slideshow,
#preview {
    position: relative;
    background: white;
    width: 100%;
    height: 400px;
}

#slideshow-about {
    position: relative;
}

#forward-arrow {
    position: absolute;
    top: 18%;
    right: 25%;
    font-size: 3em;
}

#backward-arrow {
    position: absolute;
    top: 18%;
    left: 25%;
    font-size: 3em;
}

#slideshow img,
#preview img {
    position: absolute;
    left: 38%;
}

#thumbs {
    text-align: center;
    background: white;
}

.columns section {
    padding: 1%;
    margin: 1%;
}

.slideHide {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slideShow {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.hidden {
    opacity: 0;
}

@keyframes slideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Modal Dialog */

#modal-background {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.dialog {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.dialog-hide {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialog-show {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialog img {
    max-width: fit-content;
    display: block;
    padding: 30px 5px 30px 30px;
    margin: auto;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Larger Resolutions */

@media only screen and (min-width: 600px) {
    #main-nav li {
        display: inline-block;
    }
    .columns {
        display: flex;
        flex-wrap: wrap;
        align-items: right;
    }
    #hamburger {
        display: none;
    }
    .hide-small {
        display: block;
    }
    #main-nav a:hover {
        border-bottom: 1px solid magenta;
    }
    #main-nav li {
        background: none;
        border: none;
    }
    #main-nav li:hover {
        background: none;
    }
    .items section {
        flex: 20%;
        flex-grow: 0;
    }
    #dog-list {
        display: flex;
    }
    .dog {
        flex: 1;
    }
}