/* Structure */

:root {
    --primary: darkblue;
    --secondary: darkgreen;
    --tertiary: orange;
    --back: azure;
    --headback: bisque;
    --mainback: cadetblue;
    --footback: honeydew;
    --num: 15%;
}

body {
    background-color: var(--back);
}

#main-header {
    background-color: var(--headback);
}

#main-content {
    background-color: var(--mainback);
}

#main-footer {
    background-color: var(--footback);
}

.padded-area {
    padding: 5px;
    margin: auto;
}

.info {
    border: 2px solid blueviolet;
    background: lightblue;
}

.info header {
    background-color: blueviolet;
    margin: 0 auto;
}


/* Square and Gradients */

#square {
    width: 150px;
    height: 150px;
    background: #fff;
    margin: 5px;
}

#square.rainbow {
    background: linear-gradient(90deg, red 15%, orange 15% 30%, yellow 30% 45%, blue 60%, indigo 75%, violet 100%);
    background: linear-gradient(180deg, pink var(--num), skyblue var(--num) 100%);
}


/* Main Navigation */

#main-nav ul {
    padding-left: 0px;
}

#main-nav li {
    list-style-type: none;
    background: lightpink;
    padding: 5px;
    border: 1px solid lightblue;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#main-nav li:hover {
    background-color: lightblue;
}


/* Form */

label,
input {
    display: block;
}

label {
    width: 100px;
    text-align: right;
    padding: 5px;
}

#result section {
    border: 1px solid pink;
    background: lightblue;
}

.error {
    color: red;
}


/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}

.hidden {
    display: none;
}


/* Larger Resolutions */

@media only screen and (min-width: 600px) {
    #main-nav li {
        display: inline-block;
    }
    .columns {
        display: flex;
    }
    .col1of2 {
        flex: 1;
    }
    #hamburger {
        display: none;
    }
    .hide-small {
        display: block;
    }
    #main-nav a:hover {
        border-bottom: 1px solid magenta;
    }
    #main-nav li {
        background: none;
        border: none;
    }
    #main-nav li:hover {
        background: none;
    }
    .columns section {
        flex: 1;
    }
}